.container {
  width: 80vw;
  margin: auto;
  padding: 12px;

  .center-card-image {
    width: 25%;
    margin: auto;
  }


  mat-icon {
    margin-right: 6px;
  }

  mat-accordion {
    margin-top: 12px;
  }

  div.info-container {
    display: flex;
    padding: 6px;
    div {
      width: 200px;
      border-radius: 12px;
      margin: auto;
      background-color: rgba(1, 1, 1, 0.05);
      h2,
      p {
        text-align: center;
      }
    }
  }
}
