<mat-card appearance="raised">
    <mat-card-header>
        <mat-card-title>S'inscrire</mat-card-title>
        <mat-card-subtitle>Créez un compte pour vous connecter</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form>
            
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button (click)="loginClicked.emit()">Se connecter</button>
        <button mat-flat-button>S'inscrire</button>
    </mat-card-actions>
</mat-card>